*,
*::after,
 *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-right{
    padding-left: calc( (100% - 1270px)/2 + 15px );
}

.container-left{
    padding-right: calc(100% - 1270px)/2 + 15px;
}

.none{
    display: none;
}

.header {
    background-image: url(../images/header-bg.png);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 940px;
    position: relative;
}

.header::before{
    position: absolute;
    content: "";
    background-image: url(../images/bottom.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 96px;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.header-img{
    position: relative;
    flex-grow: 1;
    z-index: 1;
}

.header-img img{
    position: absolute;
    bottom: -145px;
    right: -100px;

    max-width: unset;
    width: 894px;
    height: 940px;

    background-position: center;
    background-repeat: no-repeat;
}

.decor-element{
    position: absolute;
    
}

/* .header::before{
    content: "";
    position: absolute;
    background-image: url(../images/girl-decor.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 835px;
    width: 600px;
    bottom: 0;
    right: 215px;
    z-index: 1;
}

.header::after{
    content: "";
    position: absolute;
    background-image: url(../images/header-elements.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 823px;
    height: 615px;
    top: 175px;
    right: 60px;
    z-index: 1;
} */

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

a {
    text-decoration: none;
    color: #fff;
}

.header__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    transition: transform .3s;
    transition: all .3s;
    padding-top: 10px;
}

.header__logo:hover {
    transform: scale(1.25);
    color: #FF7C4E;
}

.header__list {
    display: flex;
    z-index: 6;
}

.header__list-link{
    margin: 0 80px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}

.header-link {
    position: relative;
}

.header-link::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color:#C4C4C4;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    border-radius: 100px;
}

.header-link:hover::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    /* Высота линии */
    background-color: #C4C4C4;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
    border-radius: 100px;
}

/* .header__list-link:first-child {
    margin-left: 80px;
}

.header__list-link:not(:last-child) {
    margin-right: 80px;
} */

.sign-up {
    color: #fff;
    padding: 13px 44px;
    border: none;
    border-radius: 100px;
    background: transparent;
    transition: all .3s;
    z-index: 6;
}

.sign-up:hover {
    background-color: #FF7B4E;
}

.login {
    color: #fff;
    padding: 13px 44px;
    border-radius: 100px;
    border: none;
    background: transparent;
    transition: all .3s;
    z-index: 6;
}

.login:hover {
    background-color: #FF7B4E;
}

.header__content{
    position: relative;
    max-width: 590px;
    max-height: 575px;
    margin-top: 105px;
    z-index: 2;
}

.header__content-title{
    font-weight: 400;
    font-size: 55px;
    line-height: 83px;
    text-align: left;
    color: #fff;
    margin: 5px 0 30px;
    z-index: 4;
}

.header__content-text{
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    opacity: .5;
    color: #fff;
    margin-bottom: 65px;
    z-index: 4;
}

.header__content-btn__one{
    padding: 12px 30px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    transition: all .3s;
    z-index: 4;
}

.header__content-btn__one:hover{
    transform: scale(1.15);
    color: #FF7B4E;
}

.header__content-btn-two{
    padding: 27px 48px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FEFEFE;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    border: none;
    transition: all .3s;
    z-index: 4;
}

.header__content-btn-two:hover{
    transform: scale(1.15);
    color: #0F1F1C;
}

.destinations{
    overflow-x: hidden;
    background-color: #F6F6F6;
    padding: 95px 0px 100px;
}

.destinations__row{
    display: flex;
    column-gap: 50px;
}

.destinations-content{
    max-width: 456px;
}

.destinations-slider{
    max-width: 1100px;
    flex-shrink: 0;
    margin-left: -18px;
}

.destinations__title{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #0F1F1C;
}

.destinations__title span{
    font-size: 30px;
    line-height: 45px;
}

.destinations__text{
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #0F1F1C;
    opacity: 0.5;
    margin-bottom: 60px;
}

.destinations__btn{
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    padding: 25px 45px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FEFEFE;
    transition: all .3s;
}

.destinations__btn:hover{
    transform: scale(1.15);
    color: #0F1F1C;
}

.slider{
    margin-left: 60px;
    position: relative;
}

.slider__item{
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: .3s ease-in;
    z-index: 2;
}

.slider .center .slider__item{
    margin-top: 0;
    width: 380px;
    height: 456px;
    width: 100%;
}

.slider-btn{
    padding: 22px 26px 22px 26px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
    border-radius: 34px;
    border: none;
    transition: all .3s;
}

.slider-btn path{
    transition: all .3s;
}

.slider-btn:hover{
    transform: scale(.85);
}

.slider-btn:hover path{
    stroke: #0F1F1C;
}

.slider-btn--prev{
    position: absolute;
    top: 186px;
    left: -40px;
    z-index: 4;
}

.slider-btn--next{
    position: absolute;
    top: 186px;
    right: -40px;
    z-index: 4;
}

.slider-btn--next svg{
    transform: rotate(180deg);
}

.none{
    display: none;
}

.review{
    padding-top: 100px;
    background-color: #F6F6F6;
    padding-bottom: 230px;
}

.boy{
    border-radius: 65px;
}

.review--full-container{
    display: flex;
}

.review-inner{
    margin-left: 70px;
}

.review-content-title{
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    color: #0F1F1C;
    max-width: 565px;
    margin-bottom: 55px;
}

.boy-review--circle{
    width: 134px;
    height: 134px;
    background: #FF794E;
    border-radius: 71.5px;
}

.review-people{
    display: flex;
    margin-bottom: 60px;
}

.review__people-content{
    margin-left: 35px;
}

.people-content-name{
    font-weight: 500;
    font-size: 33px;
    line-height: 50px;
    color: #0F1F1C;
    margin-bottom: 10px;
}

.people-content-place{
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #0F1F1C;
    opacity: 0.5;
}

.review-content-text{
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0F1F1C;
    opacity: 0.5;
    max-width: 491px;
    margin-bottom: 30px;
}

.menu{
    background-color: #F6F6F6;
    padding-bottom: 150px;
}

.menu-inner{
    position: relative;
    z-index: 2;
    width: 1240px;
    height: 581px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin: 0 auto;
}

.menu-inner::before{
    content: "";
    position: absolute;
    background-image: url(../images/decor-element-menu-left.svg);
    width: 63px;
    height: 83px;
    z-index: 4;
    left: 73px;
    bottom: 57px;
}

.menu-inner::after{
    content: "";
    position: absolute;
    background-image: url(../images/decor-element-menu-right.svg);
    width: 63px;
    height: 83px;
    z-index: 4;
    right: 80px;
    top: 73px;
}

.menu-title{
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    text-align: center;
    color: #0F1F1C;
    padding-top: 115px;
    max-width: 519px;
    margin: 0 auto;
}

.menu-text{
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #0F1F1C;
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: 60px;
}

.menu-btn{
    color: #fff;
    padding: 25px 55px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;  
    border: none;
    transition: all .3s;
    align-items: center;
}

.menu-btn:hover{
    transform: scale(1.15);
    color: #0F1F1C;
}

.send{
    background-color: #F6F6F6;
}

.send-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-title{
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    text-align: center;
    color: #0F1F1C;
    max-width: 494px;
    /* margin-left: 50vh; */
    margin-bottom: 60px;
}

.send-form{
    padding: 12px 15px 12px 46px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
    border-radius: 35px;
}

.send-input{
    position: relative;
    width: 800px;
    height: 130px;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0F1F1C;
    opacity: 0.5;
}

.send-btn{
    position: relative;
    padding: 34px 86px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 35px;
    border: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
}

.send-btn:hover{
    color: #0F1F1C;
}

.send-btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color:#fff;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
}

.send-btn:hover::before{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 2px;
    /* Высота линии */
    background-color: #fff;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}


.send-btn::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 75px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color:#fff;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
}

.send-btn:hover::after{
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 75px;
    height: 2px;
    /* Высота линии */
    background-color: #fff;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.footer{
    padding-top: 135px;
    padding-bottom: 90px;
    background-color: #F6F6F6;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    transition: all .3s;
}

.footer-logo:hover{
    transform: scale(1.15);
}

.footer__nav{
    display: flex;
    gap: 80px;
}

.footer__nav-link-a{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #0F1F1C;
    opacity: 0.5;
    text-align: center;
    transition: all .3s;
}

.footer__nav-link-a:hover{
    color: #FF7B4E;
    opacity: 1;
}

.footer-sign-up{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #838B89;
    margin-right: 21px;
    padding: 13px 44px;
    border-radius: 100px;
    transition: all .3s;
}

.footer-sign-up:hover{
    background-color: #FF7C4E;
    color: #fff
}

.footer-login{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #838B89;
    padding: 13px 44px;
    border-radius: 100px;
    transition: all .3s;
}

.footer-login:hover{
    background-color: #FF7C4E;
    color: #fff
}